@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(221, 197, 162,0.8);
	font-size: 20px;
	background-image: url(https://phonoteka.org/uploads/posts/2021-10/1634569292_23-phonoteka-org-p-fon-les-sverkhu-krasivie-foni-35.jpg);

}
.main {
	background-color: rgb(221, 197, 162,0.8);
	display: flex;
	width: 95%;
	max-width: 1000px;
	margin: auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
	flex-wrap: wrap;
}
.item{
	max-height: 490px;
	max-width: 490px;
	height: calc(50vw - 10px);
	width: calc(50vw - 10px);
	background-color: #556B2E;
	/*margin: 5px;*/
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 10px 1px rgba(230, 255, 255, 1);
	text-align: center;
	background-position: bottom 50px;
}
.headling{
	font-size: 60px;
	text-align: center;
	width: 100%;
	padding: 30px 0;
	font-family: 'Amatic SC', cursive;
	color: #556B2F;
	text-shadow: black; 1px 1px 1px;
}
.img_link{
	margin: 5px;
	display: block;
	transition: opacity 1s ease, transform 0.5s ease-in, box-shadow 0.4s ease-out;
	opacity: 0.8;
}
.img_link:hover{
	opacity: 1;
	transform: scale(1.05);
	z-index: 10;
	box-shadow: 0 0 200px rgba(10, 97, 9, 0.4);
}
.card{
	text-align: center;
	text-shadow: black; 1px 1px 1px;
	color: #506A0F;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	
}